<div class="footer-wrapper">
    <footer id="footer" class="footer">
        <div class="footer-inner container m-auto md:flex justify-between items-center px-6 pb-0 md:pb-8 lg:py-10 pt-0 lg:px-0">
            <div class="w-3/4 text-center mx-auto">
                <p class="text-grey-darker pb-8 md:pb-0">&copy; 2019 Jack Perry. Built with Eleventy, Netlify, and a lot of &hearts;.</p>
            </div>
        </div>
    </footer>
</div>
