<header id="header" class="header container m-auto items-center py-8">
	<div class="w-90per lg:w-3/4 mx-auto flex md:flex-row justify-between">
	{% include "components/logo.njk" %}
	{% include 'components/nav.njk' %}
	</div>
</header>
