<nav id="nav" class="nav flex">
    <ul class="menu flex flex-col md:flex-row items-center list-reset text-base">
        <li>
            <a class="inline-block btn rounded md:ml-2 py-3 px-6 text-white bg-nd-gradient hover:bg-nd-gradient-reverse font-bold" href="#contact" target="_blank" rel="noopener">Contact</a>
        </li>
    </ul>
</nav>